AntDesign RCDATA AntDesign.ttf
Entypo RCDATA Entypo.ttf
EvilIcons RCDATA EvilIcons.ttf
Feather RCDATA Feather.ttf
FontAwesome RCDATA FontAwesome.ttf
FontAwesome5_Brands RCDATA FontAwesome5_Brands.ttf
FontAwesome5_Regular RCDATA FontAwesome5_Regular.ttf
FontAwesome5_Soild RCDATA FontAwesome5_Solid.ttf
Foundation RCDATA Foundation.ttf
IonIcons RCDATA IonIcons.ttf
MaterialCommunityIcons RCDATA MaterialCommunityIcons.ttf
MaterialIcons RCDATA MaterialIcons.ttf
Octicons RCDATA Octicons.ttf
SimpleLineIcons RCDATA SimpleLineIcons.ttf
weathericons RCDATA weathericons.ttf
Zocial RCDATA Zocial.ttf